<h1>Totp#check</h1>

<p>
 <%= flash[:warn] %>
</p>

<%= form_with(model: @totp, local: true, url: check_totp_path(id: @user.id)) do |form| %>
  <%= form.hidden_field :secret_key %>
  <div class="field">
    <%= form.label :otp %>
    <%= form.text_field :otp %>
  </div>

  <div class="actions">
    <%= form.submit 'Check' %>
  </div>
<% end %>

