<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>


<% @user.secrets.each do |secret| %>
  <p>
  type: <%= secret.auth_type %> |<%= link_to 'delete', totp_path(id: @user.id, secret_id: secret.id), method: :delete %>
  </p>
<% end %>


<p> 
<%= link_to 'set_totp', edit_totp_path(id: @user.id) %> 
</p>

<p> 
<%= link_to 'set_fido_u2f', edit_fido_path(id: @user.id) %> 
</p>

<p> 
<%= link_to 'set_sms', edit_sms_path(id: @user.id) %> 
</p>

<p>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
</p>
