<h1>Sms#check</h1>
<p>
<%= flash[:warn] %>
</p>

<%= form_with(model: @sms, local: true, url: check_sms_path(id: @user.id)) do |form| %>
  <div class="field">
    <%= form.label :sms_otp, "認証番号" %>
    <%= form.text_field :sms_otp %>
  </div>

  <div class="actions">
    <%= form.submit "Check SMS" %>
  </div>
<% end %>

<%= link_to 'Back', root_path %>
